* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Colors:
Background   #0A192F
grey         rgb(136, 146, 176)
light blue   #00FFFF
hover        hsl(0 0% 100% / 0.1)
*/

body,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0a192f;
}

section {
  padding-left: 25px;
  padding-right: 25px;
}


header {
  background-color: #0a192f;
  padding: 30px 50px;
  border: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  margin-right: 0px;
  margin-left: 8px;
  z-index: 10;
  
}

.logo-icon a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00ffff;
}

.logo-icon svg {
  height: 45px;
}

#logo:hover #Shape {
  fill: hsl(0 0% 100% / 0.1);
}

.navbar-links {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
}

.navbar-links ul {
  display: flex; /* Display list items side by side */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-links ul li {
  
  padding:0px 10px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: rgb(136, 146, 176);
  display: flex;
  align-items: center;
}

.navbar-links ul li a p {
  margin: 0;
  padding: 0 5px;
  transition: color 0.3s;
}

.navbar-links ul li a p.number {
  color: #00ffff;
}

.navbar-links ul li a:hover p {
  color: #00ffff;
}

.resume-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0a192f;
  color: #00ffff;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #00ffff;
  margin-left: 10px; /* Add some spacing between the last list item and the resume button */
}

.resume-button:hover {
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(0.1rem);
}

.toggle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.toggle-button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #00ffff;
  margin-bottom: 5px;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background-color: #0a192f;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

.menu-content li {
  margin-bottom: 10px;
}

.menu-content a {
  color: #00ffff;
  text-decoration: none;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .right-div {
    display: none;
  }
  .left-div {
    display: none;
  }

  .brand-title svg {
    height: 30px;
  }

  .navbar {
    flex-direction: column; /*makes logo and list on top of eachother */
    align-items: flex-start; /*pushes items to the left*/
  }

  .navbar-links {
    position: fixed;
    inset: 0 0 0 50%;
    flex-direction: column; /*makes logo and list on top of eachother */
    align-items: flex-start; /*pushes items to the left*/
    background: hsl(
      0 0% 100% / 0.1
    ); /*color saturation lightness and /0.1 for transparent background */
    backdrop-filter: blur(0.1rem); /*higher number more blur*/
    padding: 18rem 2em;
    z-index: 9;
  }

  .toggle-button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #00ffff;
    margin-bottom: 5px;
    transition: transform 0.3s, opacity 0.3s;
  }

  .toggle-button span:first-child {
    transform-origin: top left;
  }

  .toggle-button span:last-child {
    transform-origin: bottom left;
  }

  .navbar-links {
    /* Remove the "display: none;" property */
    display: none;
    width: 100%;
  }

  .menu-content.active {
    /* Change "translateX(0)" to "translateX(100%)" */
    transform: translateX(100%);
  }

  /* Add the following CSS code */

  .navbar-links.active {
    /* Add the sliding animation */
    animation: slideIn 0.3s forwards;
  }

  .hero-img{
    display: none;
  }
  
 

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .navbar-links ul li {
    text-align: center;
    height: 53px;
    width: 114px;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem; /* shortens the padding making the elements appear closer together*/
    display: flex;
    flex-direction: column;
  }

  .navbar-links.active {
    /* for when the mini menu appears */
    display: flex;
    flex-direction: column;
  }

  .resume-button {
    margin-left: 22px;
  }
}
@media (min-width: 769px) {
  .toggle-button {
    display: none;
  }
}

/*--------End of Navbar Styling --------*/

/*Left, Middle, and Right Div container Styling */

.left-div {
  position: fixed;
  top: 20;
  left: 0;
  bottom:0;
  width: 10%;
  height: 100vh;
  background-color: #0a192f;
}

.left-div-ul {
  position: absolute;
  text-align: center;
  bottom:0;
  left:50%;
  list-style-type: none;
  margin-left:-21px;
}

.left-div-ul li{
  padding-top: 5px;;
}


.middle-div {
  width: 80%;
  margin: 0px auto;
  height: 800px;
  background-color: #0a192f;
}

.right-div {
  position: fixed;
  top: 20;
  right: 0;
  width: 10%;
  height: 100vh;
  background-color: #0a192f;
}

.right-div-ul {
  position: absolute;
  text-align: center;
  list-style-type: none;
  bottom:0;
  right:45%
  
}

.right-div-email {
  color: #00ffff;
  text-decoration: none;
  writing-mode: vertical-lr;
  
}

.right-div-email:hover {
  transform: translateY(-3px);
}



.vertical {
  
  content: "";
    display: block;
    width: 1px;
    height: 200px;
    margin: 30px auto 0 auto;
    color: rgb(136, 146, 176);
    
}

.vertical-right {
  
  content: "";
    display: block;
    width: 1px;
    height: 250px;
    margin: 30px auto 0 auto;
    color: rgb(136, 146, 176);
    
}

i {
  color: #00ffff;
  padding: 5px;
  
}
i:hover {
  transform: translateY(-3px);
}


/*--------End of Left, Middle, and Right Div container Styling --------*/

/*Hero Styling Section*/

#hero {
  padding: 0 0 150px 0;
  margin: 0;
  border: 0;
  display: flex;
}

h1 {
  font-size: 64px;
  padding: 70px 0 10px 0;
  color: white;
}

h2 {
  font-size: 48px;
  padding: 0px 0 10px 0;
  color: #00ffff;
}

.hero-text {
  flex: 1;
  max-width: 100%;
  margin: 0 0 0 80px;
  
}

.hero-img img {
  flex: 1;
  width: 460px;
  height: auto;
  margin: 0 0 0 0px;

}

.hero-img{
  width: 35vw;
}



@media (max-width: 1030px) {
  .hero-img{
    display: none;
  }
}

.hero-p {
  color: rgb(136, 146, 176);
  margin: 0 0 20px 0;
  width:70%;
}

.contact-button {
  display: inline-block;
  padding: 16px 24px;
  background-color: #0a192f;
  color: #00ffff;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #00ffff;
  margin-top: 30px; /* Add some spacing */
}

.contact-button:hover {
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(0.1rem);
}

/*--------End of Hero Styling Section --------*/

/*About Me Styling Section*/

#about-me {
  padding: 150px 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;

  text-align: center;
}

h3 {
  font-size: 32px;
  padding-bottom: 10px;
  color: white;
  text-align: left;
  padding-left: 120px;
}

.about-heading {
  position: relative;
}

.about-heading::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 620px;
  transform: translateY(-50%);
  height: 1px;
  width: 250px;
  background-color: rgb(136, 146, 176);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me-img {
  flex: 1;
  max-width: 50%;
}

.about-me-img img {
  width: 100%;
  max-width: 360px;
  height: auto;
  margin: 0 0 0 0;
}

.about-me-text {
  flex: 1;
  max-width: 50%;
  margin: 0 0 0 0;
}

.about-me-p {
  color: rgb(136, 146, 176);
  line-height: 26pt;
}

.color-text {
  color: #00ffff;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#skills {
  padding: 20px 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: rgb(136, 146, 176);
}

.horizontal-list li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#github-logo {
  color: white;
  font-size: 23px;
}
.api-logo {
  filter: invert(100%) sepia(0%) saturate(7474%) hue-rotate(70deg)
    brightness(104%) contrast(107%);
}

h4 {
  font-size: 24px;
  padding-bottom: 10px;
  color: white;
  text-align: left;
}
/*--------End of About Me Styling Section --------*/

/* Project Section*/

.centered-text {
  text-align: center;
  padding: 10px 0;
}

#projects{
  color:rgb(136, 146, 176);
  padding: 150px 0;
}

#other-projects{
  color:rgb(136, 146, 176);
  padding: 150px 0;
}

.featured-projects-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project {
  flex: 0 0 auto;
  margin: 20px;
  width: 33.33%;
  padding:5px;
}

@media (max-width: 768px) {
  .project {
    width: 100%; /* Each project takes up the full container width */
  
  }
.featured-projects-container{
  flex-direction: column;
}

}

.project:hover{
  background-color: #0a192f;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #00ffff;
  padding:5px;
  transform: scale(1.05);
}

.project img {
  width: 100%;
}

.project h3 {
  margin-top: 10px;
}

.project p {
  margin-top: 5px;
}

.project-links {
  text-align: center;
}

.project-links a {
  display: inline-block;
  margin-top: 10px;

  padding: 0 10px 0 10px;
}

button {
  padding: 10px 20px;
  background-color: #00ffff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}


.project-buttons {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0a192f;
  color: #00ffff;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #00ffff;
  margin-left: 10px; /* Add some spacing between the last list item and the resume button */
}

.project-buttons:hover {
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(0.1rem);
}

/*--------End of Project Section --------*/


/* Contact form Section*/
.container {
  text-align: center;
  padding: 150px 0 0px 0;
}

h3.contact-heading {
  position: relative;
  text-align: center;
  padding:0;
  font-size: 18px;
}

.contact-title{
  color:white;
  font-size: 32px;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}

.contact-me-p {
  color: rgb(136, 146, 176);
  line-height: 18pt;
  padding-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
}


#notification {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}

.contact-form-button{
  display: inline-block;
  padding: 16px 24px;
  background-color: #0a192f;
  color: #00ffff;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #00ffff;
  margin-top: 30px; /* Add some spacing */
}

.contact-form-button:hover {
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(0.1rem);
}
/*--------End of Contact form Section --------*/




